@model IEnumerable<EventApp.Models.UserEvent>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var userEvent in Model)
    {
        <li>@userEvent.Venue - @userEvent.DateTime - @userEvent.Artist.UserName</li>
    }
</ul>